{% extends 'index.html' %}
{% block content  %}
<!--<h1>create new account </h1>-->
<!--<div class="alert alert-success" role="alert">-->
<!--<form method = 'POST'>-->
<!--    {% csrf_token %}-->
<!--    {{form.as_p}}-->
<!--    <button type = "submit">register</button>-->
<!--    </form>-->
<!--</div>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><b>Medical Assistance</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-top:10px; padding-bottom:10px">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/accounts/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

        <div class = "container bg-light p-3 my-5 text-center" style="padding-top:10px;padding-bottom:10px">
            <h3><b> <center>Registeration Form</center></b></h3>
            <div>
                <hr>
</div>
</div>
<div class = "container  " style="padding-top:10px;padding-bottom:10px">
<div class="alert alert-success" role="alert">
<form method = 'POST'>
    <div class="alert alert-success">
 {% csrf_token %}
    {{form.as_p}}
    <button class=" btn btn-primary btn-lg" type = "submit">register</button>
    </form>
</div>
</div>
</div>

{% endblock %}











